:root {
    --main-color:#ff9800;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.scroll-element {
    background-color: #0075ff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 5px;
    z-index: 999999;
}
/* start dark mode  */
body .colors-bod {
    background: linear-gradient(#01012e, #240019);
    width: 100%;
    height: 500vh;
    position: absolute;
    z-index: -1;
    display: none;
}
body .colors-bod .bac {
    background-image: url(../images/stars1.png);
    width: 100vh;
    height: 100%;
}

@media(max-width:991px) {
    body .colors-bod {
        height: 600vh;
    }
}
@media(max-width:767px) {
    body .colors-bod {
        height: 800vh;
    }
}
@media(max-width:575px) {
    body .colors-bod {
        height: 900vh;
    }
}
/* end dark mode  */
.container {
    /* width: 1170px; */
    padding-left: 15px;
    padding-right: 15;
    margin: auto;
}
/* start settings box  */
.settings-box {
    position: fixed;
    left: -200px;
    top: 0;
    width: 200px;
    background-color: #fff;
    z-index: 10000;
    min-height: 100vh;
    transition: .3s;
    border: 1px solid #eee;
}
.settings-box.open{
    left: 0;
}
.settings-box .toggle-settings {
    position: absolute;
    right: -30px;
    top: 100px;
    background-color: white;
    text-align: center;
    cursor: pointer;
}
.settings-box .toggle-settings .fa-gear{
    padding: 8px 0;
    width: 30px;
}
.settings-box .settings-container .option-box {
    padding: 10px;
    text-align: center;
    background-color: #EEE;
    margin: 10px;
}
.settings-box .option-box h4 {
    margin: 0;
    color: #666;
    font-size: 14px;
}
.settings-box .settings-container .colors-list {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 10px 0 0;
}
.settings-box  .colors-list li {
    width: 20px;
    height: 20px;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
    opacity: .5;
    display: inline-block;
    border: 4px solid #eee;
}
.settings-box .option-box  .colors-list li.active {
    opacity: 5;
    border-color: #eee;
}
.settings-box .option-box .mode-option .active {
    opacity: 1;
}
.settings-box .option-box .bullets-option .active {
    opacity: 1;
}
.scroll {
    background-color: #ccc;
    width: fit-content;
    padding: 9px;
    border-radius: 9px;
    display: inline-block;
    left: -12%;
    display: none;
    position: fixed;
    top: -35px;
    left: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 21px;

}
.scroll:hover {
    background-color: var(--main-color);
}
    .scroll i:hover{
        transform: rotate(20deg);
    }
.settings-box .option-box  .colors-list li:first-child{
    background-color:#ff9800 ;
}
.settings-box .option-box .colors-list li:nth-child(2) {
    background-color: #009688;
}
.settings-box .option-box  .colors-list li:nth-child(3) {
    background-color: #03a9f4;
}
.settings-box .option-box  .colors-list li:nth-child(4) {
    background-color: #4caf50;
}
.settings-box .option-box  .colors-list li:nth-child(5) {
    background-color: #E91E63;
}
.settings-box .option-box .yes ,
.settings-box .option-box .no {
    width: 50px;
    background-color: var(--main-color);
    opacity: .5;
    color: #fff;
    margin-top: 10px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    padding: 4px 10px;
    cursor: pointer;
}
.settings-box .random-backgrounds span.active {
    opacity: 1;
}
.reset-option {
    background-color: #f44336;
    border: none;
    width: 178px;
    margin: 10px auto;
    display: block;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}
.settings-box .r-backgrounds .yes {
    background-color: #009688;
}
.settings-box .r-backgrounds .no {
    background-color: #E91E63;
}
/* end settings box  */

    /* start Bullets  */
    .nav-bullets {
        position: fixed;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        z-index: 1000;
    }
    .nav-bullets .bullet{
        width: 20px;
        height: 20px;
        border: 3px solid var(--main-color);
        border-radius: 50%;
        cursor: pointer;
        margin: 10px auto;
        position: relative;
    }
    .nav-bullets .bullet .tool-tip{
        background-color: var(--main-color);
        width: 120px;
        color: #fff;
        padding: 8px 10px;
        position: absolute;
        right: 32px;
        top: -10px;
        text-align: center;
        cursor: default;
        pointer-events: none;
        display: none;
    }
    .nav-bullets .bullet:hover .tool-tip{
        display: block;
    }
    .nav-bullets .bullet .tool-tip::before {
        content: "";
        position: absolute;
        border-color: transparent transparent transparent var(--main-color);
        border-style: solid;
        border-width: 10px;
        height: 0;
        top: 50%;
        right: -20px;
        width: 0;
        transform: translateY(-50%);
    }
    /* end Bullets  */

/* start landing page  */
.landing-page {
    min-height: 100vh;
    background-image: url('../images/g1.jpeg');
    background-size: cover;
    position: relative;
    margin-bottom: 10px;
}

.landing-page .overlay {
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.landing-page .container {
    position: relative;
    z-index: 1000;
}
.header-area {
    position: relative;
    z-index: 2;
    color: #fff;
    display: flex;
    padding: 10px;
}
/* === removing default button style ===*/
    .button {
        margin: 0;
        height: auto;
        background: transparent;
        padding: 0;
        border: none;
    }
    
    /* button styling */
    .button {
        --border-right: 6px;
        --text-stroke-color: rgba(255,255,255,0.6);
        --animation-color: #37FF8B;
        --fs-size: 2em;
        letter-spacing: 3px;
        text-decoration: none;
        font-size: var(--fs-size);
        font-family: "Arial";
        position: relative;
        color: transparent;
        -webkit-text-stroke: 1px var(--text-stroke-color);
    }
    /* this is the text, when you hover on button */
    .hover-text {
        position: absolute;
        box-sizing: border-box;
        content: attr(data-text);
        color: var(--animation-color);
        width: 0%;
        inset: 0;
        border-right: var(--border-right) solid var(--animation-color);
        overflow: hidden;
        transition: 0.5s;
        -webkit-text-stroke: 1px var(--animation-color);
    }
    /* hover */
    .button:hover .hover-text {
        width: 100%;
        filter: drop-shadow(0 0 23px var(--animation-color))
    }
/* .header-area .logo{
    width: 300px;
    padding: 15px;
    font-weight: bold;
} */
.header-area .links-container {
    width: 100%;
    text-align: right;
}
.header-area .links {
    list-style: none;
    padding-left: 0;
}
.header-area .links li {
    display: inline-block;
    margin-left: 10px;
}
.header-area .links li a {
    color: #fff;
    text-decoration: none;
    transition: 0.6s;
}
.header-area .links li a:hover,
.header-area .links li a.active {
    color: var(--main-color);
}
.header-area .toggle-menu {
    background: none;
    border: none;
    width: 40px;
    cursor: pointer;
    margin-top: 15px;
    display: none;
    position: relative;
}
.header-area .toggle-menu.menu-active:before {
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--main-color) transparent;
    bottom: -15px;
    left: 10px;
}
.header-area .toggle-menu:focus {
    outline: none;
}
.header-area .toggle-menu span {
    display: block;
    background-color: #FFF;
    height: 4px;
    margin-bottom: 4px;
}
.introduction-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
    z-index: 2;
    width: 95%;
}
.introduction-text h1 {
    font-size: 34px;
    margin: 0 0 12;
}
@media (max-width:575px) {
    .introduction-text h1 {
        font-size: 26px;
    }
}
.introduction-text h1 span {
    color: var(--main-color);
}
.introduction-text p {
    line-height: 1.6;
    font-size: 20px;
    margin: 0;
}
@media (max-width:991px) {
    .header-area .links {
        display: none;
    }
    .header-area .links.open {
        background-color: #fff;
        padding: 10px;
        display: block;
        position: absolute;
        left: 0;
        top: 50px;
        width: 100%;
        border-radius: 4px;
        text-align: left;
    }
    .header-area .links.open li {
        display: block;
        margin: 10px;
    }
    .header-area .links.open li a {
        color: var(--main-color);
        font-weight: bold;
    }
    .header-area .toggle-menu {
        display: inline-block;
    }
}
/* end landing page  */

/* start about us  */
.about-us {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}
@media (max-width:767px) {
    .about-us {
        display: block;
        text-align: center;
    }
    .about-us .info-box {
        padding: 0;
    }
}
.about-us .info-box {
    flex: 1;
    padding: 30px;
}
.about-us .info-box h2 {
    font-weight: bold;
    color: var(--main-color);
    font-size: 30px;
    margin: 0 0 10px;
}
.about-us .info-box p {
    line-height: 1.6;
    color: #535050;
    margin: 0;
}
.about-us .image-box{
    flex: 1;
    text-align: center;
}
/* .about-us .image-box img{
    width: 350px;
    
} */
.about-us .image-box img {
        width: 400px;
        position: relative;
        animation: up-and-down 5s linear infinite;
    }
    @media (max-width:991){
        .about-us .image-box img {
        display: none;
        }
    }
    @keyframes up-and-down {
        0% {
            top: 0;
            }
            100% {
            top: 0;
            }
            50% {
            top: -50px;
            }
        }
/* end about us  */

/*start-our-skills */
.skills {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eee;
}
.skills  h2{
    font-weight: bold;
    color: var(--main-color);
    font-size: 30px;
    margin: 0 0 50px;
    text-align: center;
}
.skills .skills_box {
    background-color: #fff;
    display: flex;
    padding: 15px;
    margin-bottom: 15px;
}
@media(max-width:767px) {
    .skills .skills_box {
        display: block;
    }
}
.skills .skills_box .skill_name {
    font-weight: bold;
    text-align: center;
    width: 140px;
    line-height: 30px;
}
@media(max-width:767px) {
    .skills .skills_box .skill_name {
        width: 100%;
        margin-bottom: 15px;
    }
}
.skills .skills_box .skill_progress {
    height: 30px;
    background-color: #f6f6f6;
    width:100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.skills .skills_box .skill_progress span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    background-color: var(--main-color);
    height: 100%;
    transition: all 2s;
}
/*end-our-skills */
/* start gallery */

.gallery {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.gallery h2 {
    font-weight: bold;
    color: var(--main-color);
    font-size: 30px;
    margin: 0 0 50px;
    text-align: center;
}
.gallery .images-box {
    text-align: center;
}
.gallery .images-box img {
    width: 200px;
    padding: 3px;
    border-color: #f6f6f6;
    border: 1px solid #ccc;
    margin: 5px;
    cursor: pointer;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.gallery .images-box img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.popup-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.popup-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color:rgba(55, 1, 105, 0.39);
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1001;
}
.popup-box h3 {
    font-weight: bold;
    text-align: center;
    margin: 0 0 20px;
    color: var(--main-color);
}
.close-bottun {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: var(--main-color);
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 50%;
    transition: 0.6;
}
.close-bottun:hover {
    color: red;
}
.popup-box img {
    max-width: 100%;
}
/* end gallery */
/* start timeline  */
.timeline {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eee;
}
.timeline h2 {
    font-weight: bold;
    color: var(--main-color);
    font-size: 30px;
    margin: 0 0 50px;
    text-align: center;
}
.timeline .timeline-content {
    position: relative;
    overflow: hidden;
}
.timeline .timeline-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    background-color: var(--main-color);
}
.timeline .timeline-content .year {
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    width: 50px;
    padding: 5px;
    position: relative;
    margin: 20px auto;
    z-index: 2;
    text-align: center;
}
.timeline .timeline-content .left,
.timeline .timeline-content .right {
    width: calc(50% - 25px);
    margin-bottom: 40px;
    position: relative;
}
@media (max-width:576px) {
    .timeline .timeline-content .left,
.timeline .timeline-content .right {
    width: 100%;
    margin-bottom: 20px;
}
.timeline .timeline-content .left::before,
.timeline .timeline-content .right::before {
    display: none;
}
.timeline .timeline-content .left .contact::before 
.timeline .timeline-content .right .contact::before {
    display: none;
}
}
.timeline .timeline-content .left {
    float: left;
}
.timeline .timeline-content .left::before {
    right: -35px;
}
.timeline .timeline-content .right {
    float: right;
}
.timeline .timeline-content .right::before {
    left: -35px;
}
.timeline .timeline-content .left::before,
.timeline .timeline-content .right::before {
    content: "";
    position: absolute;
    top: 10px;
    background-color: white;
    border: 3px solid var(--main-color);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    transition: 0.6s;
}
.timeline .timeline-content .left:hover:before,
.timeline .timeline-content .right:hover:before {
    background-color: var(--main-color);
}
.timeline .timeline-content .content {
    padding: 20px;
    background-color: white;
}
.timeline .timeline-content .content h3 {
    color: var(--main-color);
    font-weight: bold;
    margin: 0 0 10px;
}
.timeline .timeline-content .content p {
    line-height: 1.6;
    color: #666;
    margin: 0;
} 
.clear {
    clear: both;
}
.timeline .timeline-content .left .content:before {
    content: "";
    position: absolute;
    border-color: transparent transparent transparent black;
    border-style: solid;
    border-width: 10px;
    height: 0;
    top: 10px;
    right: -20px;
    width: 0;
}
.timeline .timeline-content .right .content:before {
    content: "";
    position: absolute;
    border-color: transparent black transparent transparent;
    border-style: solid;
    border-width: 10px;
    height: 0;
    top: 10px;
    left: -20px;
    width: 0;
}
/* end timeline  */
/* start fetchers  */
.fetcher {
    padding-top: 80px;
    padding-bottom: 80px;
}
.fetcher  h2 {
    font-weight: bold;
    color: var(--main-color);
    font-size: 30px;
    margin: 0 0 50px;
    text-align: center;
}
.fetcher  .feat-box {
    width: calc(100% / 3);
    float: left;
    text-align: center;
    margin-bottom: 40px;
}
@media (max-width:991px) {
    .fetcher  .feat-box {
        width: calc(100% / 2);
    }
}
@media (max-width:575px) {
    .fetcher  .feat-box {
        width: 100%;
    }
}
.fetcher  .feat-box img {
    width: 100px;
    height: 100px;
}
.fetcher  .feat-box img:hover{
    transition: 0.6s;
    filter: grayscale(80%);
}
.fetcher  .feat-box h4 {
    font-size: 25px;
    margin: 15px 0 40px;
    position: relative;
}
.fetcher  .feat-box h4::before {
    content: "";
    background-color: var(--main-color);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 4px;
    transition: 0.3s ease;
}
.fetcher  .feat-box h4:hover::before {
    width: 60px;
}
.fetcher  .feat-box p {
    font-size: 18px;
    line-height: 1.6;
    width: 80%;
    margin: 0 auto;
    color: #5b5b5b;
}
/* end fetchers  */
/* start Testimonials  */
.testimonials {
    overflow: hidden;
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}
.testimonials::before {
    content: " ";
    position: absolute;
    background-color: var(--main-color);
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
}
.testimonials::after {
    content: " ";
    position: absolute;
    background-color: #333;
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
}
.testimonials h2{
    font-weight: bold;
    color: #fff;
    font-size: 30px;
    margin: 0 0 30px;
    text-align: left;
    position: relative;
    z-index: 2;
}
@media (max-width:767px) {
    .testimonials h2 {
        text-align: center;
    }
}
.testimonials .ts-box {
    position: relative;
    z-index: 2;
    width: calc(98% / 3.4); 
    float: left; 
    background-color: #fff;
    padding: 20px;
} 
@media (max-width:1029px) {
    .testimonials .ts-box {
        width: calc(98% / 4); 
    }
}
@media (max-width:767px) {
    .testimonials .ts-box {
        width: 80%;
        margin-bottom: 20px; 
        float: none;
    }
}
.testimonials .ts-box:not(:last-of-type) {
    margin-right: 1%;
}
.testimonials .ts-box > p {
    margin: 0 0 15px;
    font-size: 18px;
    line-height: 1.6;
    font-style: italic;
    color: #707070;
}
.testimonials .ts-box .person-info {
    overflow: hidden;
}
@media (max-width:991px) {
    .testimonials .ts-box .person-info {
        text-align: center;
        overflow: visible;
    }
}
.testimonials .ts-box .person-info img {
    float: left;
    width: 70px;
    height: 64px;
    margin-right: 15px;
}
@media (max-width:991px) {
    .testimonials .ts-box .person-info img {
        float: none;
        margin-right: 0;
    }
}
.testimonials .ts-box .person-info h4 {
    margin: 14px 0 10px;

}
.testimonials .ts-box .person-info p {
    color: #707070;
    margin: 0;
}
/* end Testimonials  */

/* start contact us  */
.contact {
    min-height: 600px;
    background-image: url("../images/map1.jpg");
    background-size: cover;
    padding-bottom: 80px;
    padding-top: 80px;
    position: relative;
}

.contact .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .6);
}
.contact .container {
    position: relative;
    z-index: 2;
}
.contact .container h2 {
    font-weight: bold;
    color: var(--main-color);
    font-size: 30px;
    margin: 0 0 50px;
    text-align: center;
}
.contact .container form {
    overflow: hidden;
    max-width: 800px;
    margin: auto;
}
.contact form .left {
    float: left;
    width: 48%;
}
.contact form .right {
    float: right;
    width: 48%;
}
@media (max-width:767px) {
    .contact form .left,
    .contact form .right {
        float: none;
        width: 80%;
    }
}
.contact form input:not([type="submit"]),
.contact form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    resize: none;
}
.contact form input:not([type="submit"]):focus,
.contact form textarea:focus {
    outline: 1px solid var(--main-color);
}
.contact form input {
    height: 40px;
}
.contact form textarea {
    height: 150px;
}
.contact form input[type="submit"] {
    padding: 10px;
    width: 100%;
    border-color: transparent;
    background-color: var(--main-color);
    color: #FFF;
    cursor: pointer;
}
.contact form textarea:focus::-webkit-input-placeholder,
.contact form input:not([type="submit"]):focus::-webkit-input-placeholder {
    opacity: 0;
    transition: .3s;
}
.contact form textarea:focus:-ms-input-placeholder,
.contact form input:not([type="submit"]):focus:-ms-input-placeholder{
    opacity: 0;
    transition: .3s;
}
.contact form textarea:focus::placeholder,
.contact form input:not([type="submit"]):focus::placeholder {
    opacity: 0;
    transition: .3s;
}
/* end contact us  */
/* start footer  */
.footer {
    background-color: #333;
    color: #EEE;
    padding: 20px;
    text-align: center;
}
/* end footer  */
/* Start Grid System  */

@media (min-width:576px) {/*Small Devices*/ 
    .container {
        max-width: 540px;
    }
}
@media (min-width:768px) { /*Tablet*/
    .container {
        max-width: 720px;
    }
}
@media (min-width:992px) { /*Desktops*/
    .container {
        max-width: 960px;
    }
}
@media (min-width:1200px) { /* large Screens */
    .container {
        max-width: 1140px;
    }
}
/* Start Grid System  */